// https://zellij.dev/documentation/themes
themes {
    ansi {
        bg 0
        //
        black 0
        white 7
        //
        fg 15
        red 11 // 빨강 대신 다른 색
        //
        green 2
        yellow 3
        blue 4
        magenta 5
        cyan 6
        orange 11
    }
}
