.mypy_cache
.direnv
result

/dotfiles/xdg.configFile/lazygit/state.yml
/dotfiles/xdg.configFile/navi/navi.log
/dotfiles/xdg.configFile/qalculate/qalc.history
/dotfiles/xdg.configFile/qimgv/savedState.conf

/packages/*/default.nix
