.mypy_cache
.direnv
result

/dotfiles/xdg.configFile/lazygit/state.yml
/dotfiles/xdg.configFile/navi/navi.log
/dotfiles/xdg.configFile/qalculate/qalc.history
/dotfiles/xdg.configFile/qimgv/savedState.conf
/dotfiles/xdg.configFile/ulauncher/ext_preferences
/dotfiles/xdg.configFile/alacritty/base16.toml

/packages/*/default.nix
