/.deploy-gc
/.pre-commit-config.yaml

.direnv
.mypy_cache
.ruff_cache
result

/dotfiles/xdg.configFile/lazygit/state.yml
/dotfiles/xdg.configFile/navi/navi.log
/dotfiles/xdg.configFile/qalculate/qalc.history
/dotfiles/xdg.configFile/qimgv/savedState.conf
/dotfiles/xdg.configFile/ulauncher/ext_preferences
/dotfiles/xdg.configFile/alacritty/base16.toml

# https://github.com/cheat/cheatsheets
/dotfiles/xdg.configFile/cheat/cheatsheets/community

/packages/*/default.nix
