-- Base24: {{scheme-name}}
-- Scheme by {{scheme-author}}

opts.use_fancy_tab_bar = false

if not opts.colors then
  opts.colors = {}
end

opts.colors.tab_bar = {
  background = "#{{base01-hex}}",
  active_tab = {
    bg_color = "#{{base03-hex}}",
    fg_color = "#{{base05-hex}}",
  },
  inactive_tab = {
    bg_color = "#{{base01-hex}}",
    fg_color = "#{{base05-hex}}",
  },
  inactive_tab_hover = {
    bg_color = "#{{base02-hex}}",
    fg_color = "#{{base06-hex}}",
    -- italic = false,
  },
  new_tab = {
    bg_color = "#{{base01-hex}}",
    fg_color = "#{{base05-hex}}",
  },
  new_tab_hover = {
    bg_color = "#{{base02-hex}}",
    fg_color = "#{{base06-hex}}",
  },
}

opts.window_frame = {
  active_titlebar_bg = "#{{base01-hex}}",
  -- active_titlebar_fg = "#ffffff",
  -- inactive_titlebar_bg = "#242424",
  -- inactive_titlebar_fg = "#919191",

  -- font = require("fonts").get_font(wezterm),
  -- font_size = 11,
  -- active_titlebar_bg = "#111111",
}

-- https://wezfurlong.org/wezterm/config/lua/window-events/format-tab-title.html

-- vi:sw=2:tw=80:ft=lua:
