# Base24 {{scheme-name}}
# Author: {{scheme-author}}

# default: #000000, #DDDDDD
set default-bg               "#{{base00-hex}}"
set default-fg               "#{{base05-hex}}"

# default: #000000, #FFFFFF
set statusbar-bg             "#{{base01-hex}}"
set statusbar-fg             "#{{base07-hex}}"

# default: #131313, #9FBC00
set inputbar-bg              "#{{base01-hex}}"
set inputbar-fg              "#{{base0B-hex}}"

# default: #FFFFFF, #000000
set notification-bg          "#{{base07-hex}}"
set notification-fg          "#{{base11-hex}}"

# default: #FF1212, #FFFFFF
set notification-error-bg    "#{{base08-hex}}"
set notification-error-fg    "#{{base07-hex}}"

# default: #FFF712, #FFFFFF
set notification-warning-bg  "#{{base0A-hex}}"
set notification-warning-fg  "#{{base07-hex}}"

# default: rgba(159,251,0,0.5)/rgba(0,188,0,0.5)/rgba(0,0,0,0.5)
# set highlight-color          "rgba({{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}},0.1)"
# set highlight-active-color   "rgba({{base0A-rgb-r}},{{base0A-rgb-g}},{{base0A-rgb-b}},1)"
# set highlight-fg             "rgba(0,0,0,1)"

# #9FBC00/#00BC00/#9FBC00
set highlight-color          "#{{base0A-hex}}"
set highlight-active-color   "#{{base0B-hex}}"
set highlight-fg             "#{{base0B-hex}}"
set highlight-transparency   "0.3"

# *signature-error-color*
#   * Default value: rgba(92%,11%,14%,0.9)
# *signature-success-color*
#   * Default value: rgba(18%,80%,33%,0.9)
# *signature-warning-color*
#   * Default value: rgba(100%,84%,0%,0.9)

# default: #232323/#DDDDDD
set completion-bg            "#{{base01-hex}}"
set completion-fg            "#{{base05-hex}}"

# default: #000000, #DEDEDE
set completion-group-bg      "#{{base00-hex}}"
set completion-group-fg      "#{{base06-hex}}"

# default: #9FBC00, #232323
set completion-highlight-bg  "#{{base0B-hex}}"
set completion-highlight-fg  "#{{base02-hex}}"

# default: #232323, #DDDDDD
set index-bg                 "#{{base02-hex}}"
set index-fg                 "#{{base05-hex}}"

# default: #9FBC00, #232323
set index-active-bg          "#{{base0B-hex}}"
set index-active-fg          "#{{base02-hex}}"

# default: #FFFFFF/#000000
set recolor-darkcolor        "#{{base07-hex}}"
set recolor-lightcolor       "#{{base00-hex}}"

# default: #FFFFFF/#000000
set render-loading-bg        "#{{base07-hex}}"
set render-loading-fg        "#{{base01-hex}}"
