themes {
  base24 {
    bg "#{{base00-hex}}"  // ??
    //
    black "#{{base01-hex}}" // 상단·하단 바 BG 색
    white "#{{base04-hex}}" // 상단·하단 바 FG 색
    //
    fg "#{{base05-hex}}" // 상·하단바 미선택 버튼 배경 색
    red "#{{base0A-hex}}" // 미선택 버튼의 fg로 사용됨. 빨강이 싫어서 다른 색 씀.
    //
    green "#{{base0B-hex}}" // 상·하단바 선택 버튼의 배경 색상, QuickNav fg 색상 일부
    magenta "#{{base0E-hex}}" // 일부 텍스트 색상
    orange "#{{base0A-hex}}" // QuickNav fg 색상 일부
    yellow "#{{base09-hex}}"
    blue "#{{base0D-hex}}"
    cyan "#{{base0C-hex}}"
  }
}
// vi:sw=2:ft=kdl:
