// Base24 {{scheme-name}}
// Scheme by {{scheme-author}}
// vi:ft=ron:expandtab:sw=4
// https://github.com/extrawurst/gitui/blob/master/src/ui/style.rs
(
    selected_tab: Some("#{{base06-hex}}"), // 상단 탭 fg
    // main 에서 사용
    selection_bg: Some("#{{base02-hex}}"),
    selection_fg: Some("#{{base06-hex}}"),
    //
    cmdbar_bg: Some("#{{base01-hex}}"), // 하단 탭 bg 로 사용
    cmdbar_extra_lines_bg: Some("#{{base01-hex}}"), // 하단 탭 more(.) 눌렀을때 뜨는 탭
    command_fg: Some("#{{base05-hex}}"), // 하단 탭 활성화 fg
    disabled_fg: Some("#{{base03-hex}}"), // 하단 탭 비활성화 fg, 상단 fg
    //
    diff_line_add: Some("#{{base0B-hex}}"),
    diff_line_delete: Some("#{{base08-hex}}"),
    //
    diff_file_added: Some("#{{base0B-hex}}"),
    diff_file_removed: Some("#{{base08-hex}}"),
    diff_file_moved: Some("#{{base0E-hex}}"),
    diff_file_modified: Some("#{{base0E-hex}}"),
    //
    commit_hash: Some("#{{base0E-hex}}"), // purple, ansi05
    commit_time: Some("#{{base0C-hex}}"), // cyan, ansi06
    commit_author: Some("#{{base0B-hex}}"), // green, ansi02
    //
    // danger_fg: Some("Blue"),
    // push_gauge_bg: Some("Blue"),
    // push_gauge_fg: Some("Blue"),
    // tag_fg: Some("Blue"),
    // branch_fg: Some("Blue"),
    // line_break: String,
    // block_title_focused: Some("Blue"),
)
